---
import DashboardLayout from '@/layouts/DashboardLayout.astro';
import { AuthGuard } from '@/components/auth/AuthGuard';
import AdminProjectFormPage from '@/components/Admin/AdminProjectFormPage';
---

<DashboardLayout title="Nuevo Proyecto">
	<AuthGuard client:load>
		<div class="max-w-4xl mx-auto space-y-8">
			<AdminProjectFormPage client:load />
		</div>
	</AuthGuard>
</DashboardLayout>
