---
import DashboardLayout from '@/layouts/DashboardLayout.astro';
import AuthGuard from '@/components/auth/AuthGuard';
import DashboardProjects from '@/components/DashboardProjects';
---

<DashboardLayout title="Proyectos">
	<AuthGuard client:load>
		<div class="max-w-7xl mx-auto">
			<DashboardProjects client:load />
		</div>
	</AuthGuard>
</DashboardLayout>
